.post-card{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.user-picture {
    margin: 10px;
}

.post-content {
    margin: 10px;
}